* {
  font-family: 'Amatic SC', cursive;
  overflow: hidden;
}

body,
main {
  height: 100vh;
  width: 100vw;
  padding: 0px;
  margin: 0px;
  background-color: black;
}

main {
  display: flex;
  flex-flow: column;
}

header {
  display: flex;
  height: 7vw;
  justify-content: space-between;
  align-items: center;
}

header > h1 {
  font-size: 5vw;
  margin: 0 0 0 10px;
  padding: 0px;
  color: white;
}

header > h1 > .colors-flat {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tool-tip {
  font-size: 2rem;
  text-align: center;
  color: white;
  margin: 0;
}

.header-buttons-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.header-button {
  height: 70%;
  font-size: 2vw;
  margin: 10px;
}

.palette {
  display: flex;
}

.color {
  height: 100vh;
  width: 20vw;
  font-size: 4.5vw;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.lock {
  height: 4.5vw;
  width: 4.5vw;
}

.saved-nav {
  position: absolute;
  top: 0px;
  right: -300px;
  height: 100vh;
  width: 300px;
  display: flex;
  flex-flow: column;
  background: white;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

.close-button {
  align-self: end;
  height: 40px;
  width: 40px;
  margin: 5px;
  border: 0;
  background-color: transparent;
}

.navOpen {
  animation: slideLeft 0.5s ease-in;
  transform: translateX(-100%);
}

.navClose {
  animation: slideRight 0.5s ease-in;
}

@keyframes slideLeft {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

.display-boxes {
  margin: 1rem 0px 0px 0px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 0.75rem;
  justify-items: center;
}

.box {
  height: 2rem;
  width: 2rem;
  border-radius: 0.7rem;
}

.header-button,
.lock,
.close-button,
.delete-btn {
  cursor: pointer;
}

@media screen and (max-width: 1050px) {
  header {
    height: 10vh;
  }

  header > h1 {
    font-size: 2.5rem;
  }

  .header-button {
    font-size: 1.5rem;
  }

  .palette {
    flex-flow: column;
  }

  .tool-tip {
    font-size: 3vw;
  }

  .color {
    width: 100%;
    height: 18vh;
    flex-flow: row;
    justify-content: space-between;
    font-size: 3.5rem;
  }

  .lock {
    height: 3.5rem;
    width: 3.5rem;
  }
}

@media screen and (max-width: 600px) {
  .header-buttons-container {
    width: 50%;
    gap: 10px;
    margin-right: 2%;
  }

  .header-button {
    margin: 0;
    font-size: 1.25rem;
  }
  
  .tool-tip {
    display: none;
  }
}

@media screen and (max-width: 350px) {
  header > h1 {
    font-size: 2rem;
  }

  .header-button {
    font-size: 0.9rem;
  }
}