* {
    font-family: 'Amatic SC', cursive;
}

.color {
    height: 100px;
    width: 100px;
}

.boxes {
    display: flex;
    justify-content: row;
}

#color-one {
    background-color: red;

}

#color-two {
    background-color: orange;
}

#color-three {
    background-color: yellow;
}

#color-four {
    background-color: green;
}

#color-five {
    background-color: blue;
}
